@import url(https://fonts.googleapis.com/css?family=Arvo:700);
@import url(https://fonts.googleapis.com/css?family=Seaweed+Script);


  .home-section {
    z-index: 2;
    background-color:rgb(1, 1, 41) !important
  }
  
  
  .home-content {
    color: whitesmoke;
    text-align: left;
  }
  